.btn {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  line-height: 120%;
  cursor: pointer;
  border-radius: 36px;
  border: 2px solid transparent;
  transition:
    color .3s ease,
    background-color .3s ease,
    transform .3s ease,
    border-color .3s ease;
    // &:active {
    //   transform: translateY(3px);
    // }
}

.blueBtn {
  background-color:$brand-blue;
  color: #fff;
}

button {
  cursor: pointer;
  border:none;
  background-color: transparent;
}

