// Font
$mainFont: "Montserrat";
$mainFontColor: #000000;

// Size
$mainFontSize: 18px;
$mainFontWeight: 500;
$mainLineHeight: 1.55;

$desktopWidth: 1480px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 380px;

// Main color
$brand-blue:#0066FF;
$brand-gray:#848996;
$hover-color: #1F283F;

// Border Color
$border-base:1px solid #D9E2E6;
