// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
@import "vendors/vendors";

html {
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;

  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }

  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }

  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $mainFont ;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;
  &.hidden {
    overflow: hidden;
    main {
      opacity: 0;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// *::selection {
//   background: #4E5D78;
//   color: #fff;
// }


section {
  overflow: hidden;
  padding: 30px 0;
}
.section__title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 35px;
}
.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }
  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }
  &.small {
    max-width: 936px
  }
}

@import "./common.scss";



@keyframes doOpacity {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.header {
  padding: 15px 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 135px;
  height: 46px;
  flex: 0 0 auto;
  overflow: hidden;
  margin-right: 50px;
  img,svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
.header__lang {

  cursor: pointer;
  justify-self: flex-start;
  font-weight: 600;
  font-size: 15px;
  option {
    font-weight: 600;
    font-size: 15px;
  }
}

.header__right,
.header__left {
  display: flex;
  align-items: center;
  flex: 0 0 20%;
}

.header__right {
  justify-content: flex-end;
}

.header__left {
  justify-content: flex-start;
}
.header__nav {
}

.header__nav-list {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    margin: 0px 20px;
  }
  a {
    font-weight: 600;
    font-size: 15px;
    color: $mainFontColor;
  }
}

.header__search {
  padding: 5px;
  margin-right: 26px;
}

.main-screen {
  padding-top: 58px;
}
.main-screen__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-screen__title {
  font-size: 56px;
  margin-bottom: 134px;
  font-weight: 900;
  text-align: center;
  line-height: 114%;
}

.main-screen__image {
  width: 215px;
  height: 75px;
  overflow: hidden;
  margin-bottom: 31px;
  img,svg {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

.benefits__list {
  display: flex;
  align-items: stretch;
  margin-right: -7.5px;
  margin-left: -7.5px;
  .list-item {
    flex: 0 0 33.33%;
    padding:0 7.5px;
  }
  .list-item__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
  }
  .list-item__wrapper {
    height: 100%;
    background-color: #FAF4F0;
    border-radius: 24px;
    padding: 28px 25px 27px 36px; 
  }
  .list-item__img {
    width: 65px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 25px;
    img,svg {
      width: 100px;
      height: 100%;
      object-fit: contain;
      object-position: bottom;
    }
  }
}

.articles {
  padding-bottom: 75px;
}
.articles__slider {
  margin-bottom: 54px;
  position: relative;
  padding-top: 70px;
  margin-top: -70px;
  overflow:visible;
}
.swiper__navigation {
  height: 25px;
  width: 100px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  .swiper-button-next,
  .swiper-button-prev {
    transition: opacity .3s ease;
    position: static;
    margin: 0;
    width: 42px;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='45' height='28' viewBox='0 0 45 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 14H41M30.5 2L42.5 14L30.5 26' stroke='%231F283F' stroke-width='3'/%3e%3cpath d='M0 14H41M30.5 2L42.5 14L30.5 26' stroke='%230066FF' stroke-width='3'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    transform: rotate(-180deg);
  }
}

.article-slide {
  height: auto;
  display: flex;
  align-items: stretch;
  &.blue .article-slide__content {
    background-color:  #E6F7FF;
  }
  &.yellow .article-slide__content {
    background-color:  #FFF9E5;
  }
}
.article-slide__content {
  flex: 0 0 45%;
  padding: 25px 115px 38px 27px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.article-slide__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  margin-bottom: 17px;
  a {
    color: $mainFontColor;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
  }
}

.article-slide__date {
  font-size: 15px;
  color:$brand-gray;
  margin-bottom: 50px;
}
.article-slide__author {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .author__image {
    flex: 0 0 auto;
    margin-right: 8px;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius:50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .author__info {
    font-size: 15px;
  }
  .author__name {
    font-weight: 600;
    color: $mainFontColor;
  }
  .author__status {
    color: $brand-gray;
    font-weight: 500;
  }
}
.article-slide__image {
  height: auto;
  flex: 1 0 55%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.articles__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  .list-item {
    width: 100%;
    &:not(:last-child) {
      border-bottom: $border-base;
    }
  }
  .article {
    width: 100%; 
    display: flex;
    align-items: flex-start;
    justify-content: space-between ;
    padding: 30px 15px 30px 0px;
  }
  .article__content {
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .article__img {
    flex: 0 0 auto;
    width: 160px;
    height: 100px;
    overflow: hidden;
    border-radius: 24px; 
    img,svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .article__data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .article__title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 8px;
    a {
      color: $mainFontColor;
    }
  }
  .article__data {
    margin-bottom: 16px;
    * {
      color: $brand-gray;
      font-size: 15px;
      font-weight: 500;
    }
    .article__date {
      margin-right: 16px;
    }
  }
  .article__author {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // margin-bottom: 17px; 
  }
  .author__img {
    width: 21px;
    height: 21px;
    overflow: hidden;
    flex: 0 0 auto;
    margin-right: 10px;
    border-radius:50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
.author__link {
    margin-bottom: 17px; 

  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 15px;
}
  .author__name {
    font-size: 15px;
    font-weight: 600;
    color:$mainFontColor;
  }
  .author__from {
    margin-bottom: 17px; 

    font-size: 16px;
    font-weight: 400;
    font-family: "Klein";
    color:$brand-gray;
  }
}
.article__info,
.article__comments,
.article__likes {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.article__comments,
.article__likes {
  margin-right: 30px;
  font-size: 15px;
  font-weight: 500;
  color: $brand-gray;
  .comments__ico,
  .likes__ico {
    margin-right: 6px;
    flex: 0 0 auto;
    width: 26px;
    height: 26px;
    overflow: hidden;
    img,svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}


.footer {
  background-color: $mainFontColor;
  padding-top: 88px;
  padding-bottom: 20px;
}
.footer__top {
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: 65px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  .list-item {
    a {
     color: #fff;
    }
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  .col {
    padding: 0px 10px;
  }
}
.footer__authorization {
  .btn {
    margin-bottom: 20px;
  }
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__copyright {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}


.company__head {
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .company__name {
    font-weight: 900;
    font-size: 56px;
    line-height: 111%;
  }
  .company__reviews-count {
    font-size: 15px;
    color: $brand-gray;
  }
  .company__desc {
    max-width: 60%;
    color:#1D1E21;
    margin-bottom: 24px;
  }
}

.star__raiting {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 7px;
  .raiting__num {
    font-size: 20px;
    font-weight: 600;
    margin-right: 8px;
  }
}

.company__tags {
  padding-right: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.company__tag {
  font-size: 15px;
  padding: 8px 16px;
  border-radius: 24px;
  background-color: $mainFontColor;
  color: #fff;
  margin-bottom: 8px;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.back-link {
  color:$brand-blue;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  svg {
    margin-right: 10px;
  }
}

.company__slider {
  margin-bottom: 40px;
  position: relative;
  padding-top: 60px;
  margin-top: -60px;
  overflow: visible;
  .swiper-slide {
    height: auto;
    max-height: 250px;
  }
  .company__img {
    height: 100%;
    overflow: hidden;
    border-radius:24px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.company__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 75px;
}
.company__website {
  color: $brand-blue;
  margin-right: 10px;
}
.company__connection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .btn:not(:last-child) {
    margin-right: 11px;
  }
}

.company__section {
  overflow:visible;  
  padding: 0;
}

.company__body {
  padding-bottom: 60px;
  position: relative;
  display: flex;
  align-items: flex-start;
  border-bottom: $border-base;
}
.company__info {
  flex: 1 0 60%;
}

.info-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 120%;
}

.company__shedule {
  padding: 30px 0px 35px 0px;
  border-bottom:$border-base;
}

.shedule__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .shedule__day,
  .shedule__time {
    flex: 0 0 auto;
  }
  .shedule__line {
    height: 1px;
    background-color: #D9E2E6;
    width: 100%;
    margin-left: 10px;
    margin-right: 27px;
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.info__block {
  padding: 26px 0px 20px 0px;
  .info-title {
    margin-bottom: 10px;
  }
  &:not(:last-child) {
    border-bottom:$border-base;
  }  
}

.company__address {
  flex: 0 0 40%;
  font-style: normal;
  position: sticky;
  top: 30px;
  padding-left: 70px;
}
.address__link {
  color: $brand-blue;
  font-weight: 600;
}
.address__map {
  width: 100%;
  height: 178px;
  overflow: hidden;
  border-radius: 24px;
  margin: 30px 0px 10px 0px;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}